<hr class="hr-2 bg-mishmash"/>
<div class="channel-main-data-holder w-75 mx-auto d-flex justify-content-between">
    <h3 class="text-center text-mishmash">Channel: @Model.Name</h3>
    <h3 class="text-center text-mishmash">Type: @Model.Type</h3>
    <h3 class="text-center text-mishmash">Followers: @Model.FollowersCount</h3>
</div>
<hr class="hr-2 bg-mishmash"/>
<h3 class="text-center text-mishmash">Tags</h3>
<div class="channel-tags-holder w-75 mx-auto">
    <h6 class="text-center text-mishmash">@Model.TagsAsString</h6>
</div>
<hr class="hr-2 bg-mishmash"/>
<h3 class="text-center text-mishmash">Description</h3>
<div class="product-description-holder">
    <p class="text-center text-mishmash mt-4">
        @Model.Description
    </p>
</div>
<hr class="hr-2 bg-mishmash"/>
<div class="button-holder d-flex justify-content-center">
    <a href="javascript:window.history.back()" class="btn bg-mishmash text-white">Back</a>
</div>