<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>CHUSHKA</title>
    <link rel="stylesheet" type="text/css" href="/css/reset-css.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="container-fluid">
        <header>
            <nav class="navbar navbar-expand-lg chushka-bg-color">
                <a class="navbar-brand nav-link-white" href="/">CHUSHKA</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
                @if (User.IsLoggedIn)
                {
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link nav-link-white" href="/">Home</a>
                        </li>
                        @if (User.Role == "Admin")
                        {
                            <li class="nav-item">
                                <a class="nav-link nav-link-white" href="/products/create">Create Product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link-white" href="/orders/all">All Orders</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav right-side">
                        <li class="nav-item">
                            <a class="nav-link nav-link-white" href="/users/logout">Logout</a>
                        </li>
                    </ul>
                }
                @else
                {
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link nav-link-white" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-white" href="/users/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-white" href="/users/register">Register</a>
                        </li>
                    </ul>
                }
                </div>
            </nav>
        </header>
        <main>
            @RenderBody()
        </main>
        <footer>
            <div class="container-fluid chushka-bg-color">
                <div class="text-white p-2 text-center">
                    &copy; CopyRight Sanity Web Design Studios 2018. All rights reserved.
                </div>
            </div>
        </footer>
    </div>
</body>
</html>