<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<h1>IRunes</h1>

<ul>
    <li><a href="/">Home</a></li>  
    <li><a href="/users/login">Login</a></li>
    <li><a href="/users/register">Register</a></li>
</ul>
<hr />
<h1>Welcome to IRunes</h1>
<h3><a href="/users/login">Login</a> if you have an account.</h3>
<h3><a href="/users/register">Register</a> if you don't.</h3>
<hr />
<footer>
    <p><strong>CopyRight© Sanity Design Studios. All rights reserved</strong></p>
</footer>
</body>
</html>