<div class="container">
    <div class="jumbotron">
        <h1>Cakes</h1>
        <p>Enjoy our awesome cakes</p>
    </div>
</div>
<table class="table table-hover table-striped table-bordered">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Order</th>
    </tr>
    <tr>
        <td>Chocolate cake</td>
        <td>$10.99</td>
        <td><button class="btn btn-secondary btn-sm">Order</button></td>
    </tr>
    <tr>
        <td>Banana cake</td>
        <td>$12.99</td>
        <td><button class="btn btn-secondary btn-sm">Order</button></td>
    </tr>
    <tr>
        <td>Ice-cream cake</td>
        <td>$20.99</td>
        <td><button class="btn btn-secondary btn-sm">Order</button></td>
    </tr>
</table>