<h1>Login</h1>

<form method="post" action="/account/login">
    <div class="form-group row">
        <label class="form-control-label col-sm-2">Username:</label>
        <div class="col-sm-4">
            <input class="form-control" name="username" type="text"
                   placeholder="Username"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="form-control-label col-sm-2">Password:</label>
        <div class="col-sm-4">
            <input class="form-control" name="password" type="password"
                   placeholder="Password"/>
        </div>
    </div>
    <div>
        <input type="submit" value="Login" class="btn btn-primary"/>
    </div>
</form>
Don't have an account?
<a href="/account/register" class="btn btn-primary">Register</a>