<h1>Register</h1>
<form method="post" action="/register">
    <div>
        Username <input name="username" type="text" 
                        placeholder="Username" />
    </div>
    <div>
        Password <input name="password" type="password"
                        placeholder="Password"/>
    </div>
    <div>
        Confirm password <input name="confirmPassword" type="password" 
                                placeholder="Confirm Password"/>
    </div>
    <div>
        <input type="submit" value="Register" />
    </div>
</form>