<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
<h1>IRunes</h1>

<ul>
    <li><a href="/">Home</a></li>  
    <li><a href="/users/login">Login</a></li>
    <li><a href="/users/register">Register</a></li>
</ul>
<hr />
<h1>Login</h1>
<form method="post" action="/users/login">
    <div>
        Username/Email <input type="text" name="username"/>
    </div>
    <div>
        Password <input type="Password" name="password"/>
    </div>  
    <input type="submit" value="Login"/>
</form>
<footer>
    <p><strong>CopyRight© Sanity Design Studios. All rights reserved</strong></p>
</footer>
</body>
</html>