<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Mish Mash</title>
    <link rel="stylesheet" type="text/css" href="/reset-css.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <div class="container-fluid">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-mishmash">
                <a class="navbar-brand nav-link-white" href="/">Mish Mash</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
                    <ul class="navbar-nav right-side">
                        <li class="nav-item">
                            <a class="nav-link nav-link-white active" href="/">Home</a>
                        </li>
                        @if (User.IsLoggedIn)
                        {
                            <li class="nav-item">
                                <a class="nav-link nav-link-white active" href="/Channels/Followed">My Channels</a>
                            </li>
                            @if (User.Role == "Admin")
                            {
                                <li class="nav-item">
                                    <a class="nav-link nav-link-white active" href="/Channels/Create">Create channel</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link nav-link-white active" href="/Users/Logout">Logout (@User.Info)</a>
                            </li>
                        }
                        @else
                        {
                            <li class="nav-item">
                                <a class="nav-link nav-link-white active" href="/Users/Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link-white active" href="/Users/Register">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </nav>
        </header>
        <main class="mt-3 mb-5">
            @RenderBody()
        </main>
        <footer>
            <div class="container-fluid bg-mishmash">
                <div class="text-white p-2 text-center">
                    &copy; CopyRight Sanity Web Design Studios 2018. All rights reserved.
                </div>
            </div>
        </footer>
    </div>
</body>
</html>